header{
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap;
    background-color: lightgray;
    align-items: center;
}

header>img{
    width: 10%;
}
nav{
    display: inline-block;
    width: 80%;
}

li{
    display: inline-block;
    list-style-type: none;
    width: 30%;
}
h1{

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}
main{
    background-color: yellow;
}
footer{
    background-color: gray;
}
p{
    line-height: 20px;
}
.neighbourhood{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    row-gap: 10px;
}
.neighbourhood>img{
    width: 100%;
}
.parks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}